html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: sans-serif;
}

#main {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.circle {
	background-color: skyblue;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	font-size: 24px;
	position: absolute;
}